{% extends "base.html" %}
{% block title %}Status search{% endblock %}
{% block content %}
    <form method="POST">
        <fieldset>
            <legend>Search by UID</legend>
            <label for="uid">UID:</label>
            <input id="uid" type="text" name="uid" placeholder="Enter UID" size="37">
            <button type="submit">Search</button>
        </fieldset>
    </form>
    <br>
    <form method="POST">
        <fieldset>
            <legend>Search by email and file name</legend>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" placeholder="Enter Email">
            <label for="filename">Filename:</label>
            <input id="filename" type="text" name="filename" placeholder="Enter Filename">
            <button type="submit">Search</button>
        </fieldset>
    </form>
{% endblock %}
