{% extends "base.html" %}
{% block title %}Status search{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <fieldset>
            <legend>Search by UID</legend>
            <label for="uid">UID:</label>
            <input id="uid" type="text" name="uid" placeholder="Enter UID" size="37">
            <button type="submit">Search</button>
        </fieldset>
    </form>
    <br>
    <form method="POST">
        <fieldset>
            <legend>Search by email and file name</legend>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" placeholder="Enter Email">
            <label for="filename">Filename:</label>
            <input id="filename" type="text" name="filename" placeholder="Enter Filename">
            <button type="submit">Search</button>
        </fieldset>
    </form>
{% endblock %}
